@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;

@layer base {
  :root {
    --black: #2b2b2b;
    --red: #eb5757;
    --primary: #c92127;
    --blue: #1c438e;
    --orange: #f27405;

    --link-blue: #1c83fc;
    --light-blue: #7690c0;
    --light-primary: #4475f2;
    --super-light-blue: #b4c7ec;
    --sub-blue: #5e7db5;
    --blue-bg: #cfe5fe;
    --white-blue: #f7f7fe;
    --dark-gray: #868b9b;
    --light-gray: #ebebeb;
    --gray: #f1f2f4;
    --white: #fdfdfd;
    --light-white: #fdfdfde6;
    --pink: #f178b6;
    --yellow: #f2c94c;
    --light-red: #fee2e2;
    --light-black: #061735;
    --green: #2ccf54;
    --dark-green: #27ae60;
    --light-green: ##eefbf4;
    --sub-blue: #5e7db5;
    --sub-orange: #fff3eb;
    --secondary: var(--orange);
    --purple: #796baf;

    --box-shadow: rgba(85, 155, 235, 0.2);
    --box-shadow-lite: rgba(0, 0, 0, 0.07);
    --box-shadow-table: rgba(85, 155, 235, 0.2);

    --focus-primary-shadow: 0 0 0 2px rgb(1 30 55 / 24%);
    --focus-danger-shadow: 0 0 0 2px rgb(255 38 5 / 24%);
    --drop-shadow: 0px 4px 7px rgba(28, 67, 142, 0.16);
    --typing-shadow: 0px 0px 0px 2px rgba(28, 67, 142, 0.4);

    --h-header: 70px;
    --w-sidebar: 246px;
    --w-screen: 1180px;
    --space-x-screen: 48px;

    --theme: var(--primary);
    --theme-hover: #7690c0;
    --theme-active: var(--secondary);
    --theme_blue: #1c83fc;
    --theme_light_orange: #fff3eb;
    --theme_orange: #ff9201;
    --theme_red: #eb5757;
  }

  body {
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-feature-settings: 'kern';
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    margin: 0;
    min-height: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: var(--light-blue);
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.3s ease;
  }

  [type='text']:focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--typing-shadow);
    border-color: var(--primary);
  }
}

a {
  text-decoration: none;
  color: #1c83fc;
}

/**
 * Makes sure h-screen works on mobile Safari. By default h-screen
 * does not take into account the height of the address bar, causing
 * weird behaviour when scrolling — sometimes the height will be correct
 * and sometimes it won't, depending on whether the address bar is
 * in 'collapsed' state or not.
 * @see: https://benborgers.com/posts/tailwind-h-screen
 */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Hide Arrows From Input Number  */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
} /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
