@tailwind components;

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .position-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .fadeIn {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
